.chatMessage {
  width: 80%;
  margin: 20px;
  padding: 20px;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.mine {
  align-self: flex-end;
  background-color: #def7ec;
}

.other {
  align-self: flex-start;
  background-color: #f3f3f3;
}

.userInfo {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 10px;
}

.name {
  font-weight: bold;
}

.text {
  color: #222;
}
